<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
</head>
<body>
    <h1>Menu</h1>
    <a href="/all"><button>Get all</button></a>
    <a href="/getone"><button>Get one</button></a>
    <a href="/insert"><button>Add new flower</button></a>
    <a href="/updateform"><button>Update flower data</button></a>
    <a href="/remove"><button>Remove</button></a>
</body>
</html>